@{
    var title = "Crab Zinc ";
    if (!string.IsNullOrEmpty(ViewData["Title"]?.ToString()))
    {
        title += ViewData["Title"];
    }

    var rootPathPrefix = ViewBag.RootPathPrefix;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- css -->
    <link rel="stylesheet" href="@rootPathPrefix/lib/bulma/css/bulma.css" />

    <title>@title</title>
</head>
<body class="has-navbar-fixed-top">
    <input id="rootPathPrefix" type="hidden" value="@rootPathPrefix" />

    <div>
        @Html.Partial("_Navigation")
        
        <!-- the body of the page -->
        <div class="container">
            @RenderBody()
        </div>

        <!-- page footer -->
        <footer>
            @Html.Partial("_VueFooter")
        </footer>
    </div>
</body>
</html>

