@{
    var title = "Crab Zinc ";
    if (!string.IsNullOrEmpty(ViewData["Title"]?.ToString()))
    {
        title += ViewData["Title"];
    }

    var rootPathPrefix = ViewBag.RootPathPrefix;
    var isAuthenticated = ViewBag.IsAuthenticated == true ? "true" : "false";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--  scripts -->
    <script type="text/javascript" src="@rootPathPrefix/lib/jquery/js/jquery.js"></script>
    <script type="text/javascript" src="@rootPathPrefix/lib/vue/js/vue.js"></script>
    <script type="text/javascript" src="@rootPathPrefix/lib/require/js/require.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="@rootPathPrefix/lib/bulma/css/bulma.css" />
    <script type="text/javascript" src="@rootPathPrefix/lib/simplemde/css/simplemde.min.css"></script>

    <title>@title</title>
</head>
<body class="has-navbar-fixed-top">
    <input id="rootPathPrefix" type="hidden" value="@rootPathPrefix" />
    <input id="isAuthenticated" type="hidden" value="@isAuthenticated" />

    <div>
        @Html.Partial("_Navigation")

        <!-- the body of the page -->
        <div>
            @RenderBody()
        </div>

        <!-- page footer -->
        <footer>
            @Html.Partial("_VueFooter")
        </footer>
    </div>
</body>
</html>

